<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <br />

        <div class="publication-title" style="font-size:1.4em;">
            {{ page.title }}
        </div>
        <div class="publication-authors">
            {% assign authors_size = {{page.authors.size | minus: 1 }} %}
            {% for index in (0..authors_size) %}

                {% assign author = page.authors[index] %}

                {% assign author_infos = site.data.members | where: "name", author.name %}
                {% if author_infos.size > 0 %}
                    {% assign author_affiliation = "Unity Technologies" %}
                    {% assign author_url = author_infos[0].url %}
                {% else %}
                    {% assign author_affiliation = author.affiliation %}
                    {% assign author_url = author.url %}
                {% endif %}
                <span class="publication-author">
                <span class="publication-author-name">
                    <a href="{{ author_url }}">{{ author.name }}</a>{% if index != authors_size %},{% endif %}
                </span>
                <span class="publication-author-affiliation">
                    {{ author_affiliation }}
                </span>
                </span>

            {% endfor %}
        </div>
        <div class="publication-journal">
            {% if page.tags contains 'published' %}
                Published in
            {% elsif contains 'to_appear' %}
                To appear in
            {% elsif contains 'techreport' %}
            {% endif %}
            {{ page.conference }}
        </div><br />

        <!-- Link to material -->
        {% if page.materials %}
        <div>
            {% assign materials_size = {{page.materials.size | minus: 1 }} %}
            {% for index in (0..materials_size) %}
               {% assign material = page.materials[index] %}
                <span><a class="publication-material {{ material.type }}" href="{{ material.url }}">{{ material.name }}</a>{% if index < materials_size %},&nbsp;{% endif %}</span>
            {% endfor %}
        </div><br />
        {% endif %}

        {% if page.banner %}
        <img src="{{ page.banner | prepend: site.baseurl }}" width="100%"/>
        {% endif %}

        {{ content }}
        {% if page.bibtex %}
        <p><strong>Bibtex:</strong>
        <pre style="width:80%;margin-left:10%;margin-right:10%;"><code class="javascript">{{ page.bibtex }}</code></pre>
        </p>
        {% endif %}

      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
